:root
{
  background-size: cover;
  
}
.cont {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.abc {
  grid-column: 1;
}

.abc1 {
  grid-column: 2;
}
.records1
  {
    background-color: white;
  
    width: 10cm;
    margin-left: 6cm;
    margin-top: 1cm;
  }

  .records2
  {
    background-color: white;
  
    width: 10cm;
    margin-left: 2cm;
    margin-top: 0.7cm;
  }
  .xyz {
    grid-column: 1;
    width: 10cm;
    margin-left: 5cm;
  }
  
  .xyz11 {
    grid-column: 2;
    width: 10cm;
    margin-left: 2cm;
  }

  button{
    margin-left: 4cm;
    margin-top: 0.2cm;
  }
  .button1{
margin-left: 0cm;
  }
  .button2{
    margin-left: 5cm;
  }