/* .abc {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  } */
  
  /* .abc > div {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
  } */
  

   .abc {
    background-color: white;
    height: fit-content;
    width: 10cm;
    margin-left: 1cm;
    margin-top: 1cm;
    
  }
  .xxx{
    font-size: 2rem;
    color: black;
    /* margin-top: -10cm; */
    margin-left: 10cm;
    
  }
  button{
    margin-left: 4cm;
    margin-top: 0.2cm;
  }
  .xyz
  {
    width: 10cm;
    margin-left: 1cm;
  }
  .student1
  {
    width: 10cm;
    margin-left: 14cm;
  }
  .student2 {
    background-color: white;
    height: fit-content;
    width: 10cm;
    margin-left: 20cm;
    margin-top: 1cm;
    
  }
    button{
    margin-left: 4cm;
    margin-top: 0.2cm;
  }