/* :root
{
  background-color: lightblue;
} */

formtutor {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* margin: 2rem; */
  padding: 2rem;
  width: 80%;
  margin-left: 4.5cm;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  font-family: sans-serif;
  background-color: #f8f8f8;
  margin-top: 2cm;
 
 
}

h1a{
  font-size: 3rem;
}
labela {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  width: 100%;
  max-width: 25rem;
  margin-top: 1cm;
  
}

labelt {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  width: 100%;
  max-width: 25rem;
}

input,
textarea {
  padding: 0.5rem;
  margin-top: 0.5rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  border: 1px solid #ccc;
}

input[type="checkbox"] {
  margin-right: 0.5rem;
}

button[type="submit"] {
  background-color: #0077cc;
  color: #fff;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

button[type="submit"]:hover {
  background-color: #005fa3;
}

.error {
  color: red;
  font-size: 0.8rem;
  margin-top: 0.25rem;
}

.success {
  color: green;
  font-size: 0.8rem;
  margin-top: 0.25rem;
}
.vehicle{
  margin-left: -6cm;
}
input{
  align-items: center;
}